<div class="passenger-details" align="center">
<h1 class="center">Passenger Details</h1>
<form id="Passenger_Details" #passdet="ngForm" name="passdet" (ngSubmit)="PassDet(passdet)" class="center">
   <div align="center">
    <div >
        <!--<label>Passport Number</label>-->
        <input type="number" name="Passport_Number" [(ngModel)]="model.Passport_Number" #Passport_Number="ngModel" placeholder="Passport Number" required>
        <!--<span *ngIf="Passport_Number.errors?.required">Cannot be Blank</span>-->
        <span *ngIf="Passport_Number.errors?.required"></span>
    </div>
    <div>
        <!--<label>Passenger First Name</label>-->
        <input type="text" name="First_Name" [(ngModel)]="model.First_Name" #First_Name="ngModel" placeholder="Passenger First Name" required>
        <!--<span *ngIf="First_Name.errors?.required">Cannot be Blank</span>-->
        <span *ngIf="First_Name.errors?.required"></span>
    </div>
    <div>
        <!--<label>Passenger Last Name</label>-->
        <input type="text" name="Last_Name" [(ngModel)]="model.Last_Name" #Last_Name="ngModel" placeholder="Passenger Last Name" required>
        <!--<span *ngIf="Last_Name.errors?.required">Cannot be Blank</span>-->
        <span *ngIf="Last_Name.errors?.required"></span>
    </div>
    <div>
        <!--<label>Passenger Date of Birth</label>-->
        <input type="date" name="DOB" [(ngModel)]="model.DOB" #DOB="ngModel" placeholder="Passenger Date of Birth" required>
        <!--<span *ngIf="DOB.errors?.required">Cannot be Blank</span>-->
        <span *ngIf="DOB.errors?.required"></span>
    </div>
    <div><label>Select Gender</label><br>
        <input type="radio" name="gen" [(ngModel)]="model.gen" #gen="ngModel" value="Male" required>Male
        <input type="radio" name="gen" [(ngModel)]="model.gen" #gen="ngModel" value="Female" required>Female
        <!--<span *ngIf="gen.errors?.required">Cannot be Blank</span>-->
        <span *ngIf="gen.errors?.required"></span>
    </div>
    <div>
        <!--<label>Passenger Phone Number</label>-->
        <input type="tel" name="Phone_Number" [(ngModel)]="model.Phone_Number" #Phone_Number="ngModel" placeholder="Phone Number" pattern="^[0-9]{10}$"required>
        <!--<span *ngIf="Phone_Number.errors?.required">Cannot be Blank</span>
        <span *ngIf="Phone_Number.errors?.pattern">Phone Number has to be numeric and 10 digits</span>-->
        <span *ngIf="Phone_Number.errors?.required"></span>
        <span *ngIf="Phone_Number.errors?.pattern"></span>
    </div>
    <div>
        <label>Passenger Covid Certificate</label><br>
        <input type="radio" name="cc" [(ngModel)]="model.cc" #cc="ngModel" value="Yes" required>Yes
        <input type="radio" name="cc" [(ngModel)]="model.cc" #cc="ngModel" value="No" required>No
        <!--<span *ngIf="cc.errors?.required">Cannot be Blank</span>-->
        <span *ngIf="cc.errors?.required"></span>
    </div>
</div>
    <div class="row" align="center" style="padding-left: 170px;">
        <button class="buttonx btn btn-success" type="submit" [disabled]="passdet.invalid">Continue</button>
    </div>
</form>
</div>
