<div class="passenger-details" align="center">
    <h1 class="center">Passenger Details</h1>
    <h6 style="color:red" class="center">Fill the form {{TotalSeats}} times for {{TotalSeats}} Passengers </h6>
    <form id="Passenger_Details" #passdet="ngForm" name="passdet" (ngSubmit)="PassDet(passdet)" class="center">
       <div align="center">
        <div >
            <h3>Ticket Number: {{test}}</h3>
        </div>
        <div >
            <!--<label>Passport Number</label>-->
            <input type="text" name="PassportNumber" [(ngModel)]="model.PassportNumber" #PassportNumber="ngModel" placeholder="Passport Number" required>
            <span *ngIf="PassportNumber.errors?.required"></span>
        </div>
        <div>
            <!--<label>Passenger First Name</label>-->
            <input type="text" name="FirstName" [(ngModel)]="model.FirstName" #FirstName="ngModel" placeholder="Passenger First Name" required>
            <span *ngIf="FirstName.errors?.required"></span>
        </div>
        <div>
            <!--<label>Passenger Last Name</label>-->
            <input type="text" name="LastName" [(ngModel)]="model.LastName" #LastName="ngModel" placeholder="Passenger Last Name" required>
            <span *ngIf="LastName.errors?.required"></span>
        </div>
        <div>
            <!-- <label>Contact Number</label> -->
            <input type="number" name="PhoneNumber" [(ngModel)]="model.PhoneNumber" #PhoneNumber="ngModel" placeholder="Contact Number"  pattern="^[0-9]{10}$" required>   
            <span *ngIf="PhoneNumber.errors?.required"></span>   
        </div>
        <div>
            <!--<label>Passenger Date of Birth</label>-->
            <input type="date" name="DOB" [(ngModel)]="model.DOB" #DOB="ngModel" placeholder="Passenger Date of Birth" required>
            <span *ngIf="DOB.errors?.required"></span>
        </div>
        <!-- <div><label>Select Gender: </label>
            <input type="radio" name="gen" [(ngModel)]="model.gen" #gen="ngModel" value="Male" required>Male
            <input type="radio" name="gen" [(ngModel)]="model.gen" #gen="ngModel" value="Female" required>Female
            <span *ngIf="gen.errors?.required"></span>

        </div> -->

            <div class="btn-group btn-group-toggle " data-toggle="buttons">
                <label class="btn btn-info active">Gender</label>
                <label class="btn btn-outline-success">
              <input type="radio" name="gen" [(ngModel)]="model.gen" #gen="ngModel" value="Male" required autocomplete="off"> Male
            </label>
                <label class="btn btn-outline-success">
              <input  type="radio" name="gen" [(ngModel)]="model.gen" #gen="ngModel" value="Female" required autocomplete="off"> Female
            </label>
                <!-- <span *ngIf="gen.errors?.required">Select Gender</span> -->
            </div>


            <!-- <div>
            <label>Passenger Covid Certificate</label><br>
            <input type="radio" name="cc" [(ngModel)]="model.cc" #cc="ngModel" value="Yes" required>Yes
            <input type="radio" name="cc" [(ngModel)]="model.cc" #cc="ngModel" value="No" required>No
            <span *ngIf="cc.errors?.required"></span>
        </div> -->
            <div class="btn-group btn-group-toggle " data-toggle="buttons">
                <label class="btn btn-info active">Covid Certificate</label>
                <label class="btn btn-outline-success">
                <input type="radio" name="cc" [(ngModel)]="model.cc" #cc="ngModel" value="Yes" required autocomplete="off"> Yes
            </label>
                <label class="btn btn-outline-danger">
                <input type="radio" name="cc" [(ngModel)]="model.cc" #cc="ngModel" value="No" required autocomplete="off"> No
            </label>
                <!-- <span *ngIf="gen.errors?.required"></span> -->
            </div>
        </div>
        <div class="row" align="center" style="padding-left: 170px;">
            <button class="buttonx btn btn-success" type="submit" [disabled]="passdet.invalid">Insert</button>
        </div>

        <div class="row" align="center" style="padding-left: 170px;">
            <button class="buttonx btn btn-danger " type="reset">Clear</button>
        </div>


    </form>
    <!-- <div class="row" align="center" style="padding-left: 170px;">
        <button class="buttonx btn btn-success" (click)="Continue()">Continue</button>
    </div> -->

</div>