

    <div align="center">
        <tabset #tabset>
            <tab heading="Add Flight">
                <div align="center" class="login-box">
                <form #addFlightForm="ngForm" name="addFlightForm" (ngSubmit)="FlightData(addFlightForm)"  class="center">
                    <h3 class="center">Add Flight</h3>


                <div class="row">
                    <div class="col-md-6">
                        
                        <input type="number"  name="Flight_Number" [(ngModel)]="model.Flight_Number"
                        #Flight_Number="ngModel" class=" form-textbox" id="form-a" required/>
                         <label class="form-label" for="form-a" >  Flight Number</label> 
                        <!-- <span *ngIf="Flight_Number.errors?.required">Cannot be Blank</span> -->
                    </div>

                    <div class="col-md-6">
                        
                        <input type="text"  name="Flight_Name" [(ngModel)]="model.Flight_Name"
                        #Flight_Name="ngModel" class=" form-textbox" id="form-z"  required/>
                        <label class="form-label" for="form-z" >  Flight Name</label>
                        <!-- <span *ngIf="Flight_Name.errors?.required">Cannot be Blank</span> -->
                    </div>
            
                    
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <select  name="Airport_Code"  [(ngModel)]="model.Airport_Code" #projid="ngModel" >
                            <option class="btn-info" *ngFor="let item of clist" [value]="item.Airport_Code">{{item.Airport_Name}}</option>
                        </select>
                    </div>
                </div>
                    
            
                <div class="row">
                    
                    <div class="col-md-4">
                        
                        <input type="date" name="Flight_Date" [(ngModel)]="model.Flight_Date"
                            #Flight_Date="ngModel" class="form-textbox"  id="form-u"  required/>
                         <label class="form-label" for="form-u">Flight Departure Date</label>
                        <!-- <span *ngIf="Flight_Arrival_Time.errors?.required">Cannot be Blank</span> -->
                    </div>
                        
                    <div class="col-md-4">
                        <input type="time" name="Flight_Departing_Time" [(ngModel)]="model.Flight_Departing_Time"
                        #Flight_Departing_Time="ngModel" class="form-textbox" id="form-c" required/>
                        <label class="form-label" for="form-c">Departure Time</label>
                        <!-- <span *ngIf="Flight_Departing_Time.errors?.required">Cannot be Blank</span> -->
                    </div>
            
                    <div class="col-md-4">
                        
                        <input type="time" name="Flight_Arrival_Time" [(ngModel)]="model.Flight_Arrival_Time"
                        #Flight_Arrival_Time="ngModel" class="form-textbox"  id="form-d"  required/>
                        <label class="form-label" for="form-d">Arrival Time</label>
                        <!-- <span *ngIf="Flight_Arrival_Time.errors?.required">Cannot be Blank</span> -->
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-4">
                        
                        <input type="text" name="Origin" [(ngModel)]="model.Origin"
                        #Origin="ngModel" class="form-textbox"  id="form-e" required/>
                        <label class="form-label" for="form-e">Origin</label>
                        <!-- <span *ngIf="Origin.errors?.required">Cannot be Blank</span> -->
                    </div>
            
                    
                    <div class="col-md-4">
                        
                        <input type="text" name="Destination" [(ngModel)]="model.Destination"
                        #Destination="ngModel" class="form-textbox" id="form-f"  required/>
                        <label class="form-label" for="form-f">Destination</label>
                        <!-- <span *ngIf="Destination.errors?.required">Cannot be Blank</span> -->
                    </div>
                
            
                    <div class="col-md-4">
                        
                        <input type="text" name="Flight_Status" [(ngModel)]="model.Flight_Status"
                        #Flight_Status="ngModel" class="form-textbox" id="form-g"  required/>
                         <label class="form-label" for="form-g">Status</label>
                        <!-- <span *ngIf="Flight_Status.errors?.required">Cannot be Blank</span> -->
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-6">
                        
                        <input type="number" name="Cost_Eco" [(ngModel)]="model.Cost_Eco"
                        #Cost_Eco="ngModel" class="form-textbox" id="form-h" required/>
                        <label class="form-label" for="form-h">Economy Class Cost</label>
                        <!-- <span *ngIf="Cost_Eco.errors?.required">Cannot be Blank</span> -->
                    </div>
            
                    <div class="col-md-6">
                        
                        <input type="number" name="Cost_Business" [(ngModel)]="model.Cost_Business"
                        #Cost_Business="ngModel" class="form-textbox"  id="form-i"  required/>
                        <label class="form-label" for="form-i">Business Class Cost</label>
                        <!-- <span *ngIf="Cost_Business.errors?.required">Cannot be Blank</span> -->
                    </div>
                
            
<!--                     
                    <div class="col-md-3">
                        
                        <input type="number" name="Seats_Available_Eco" [(ngModel)]="model.Seats_Available_Eco"
                        #Seats_Available_Eco="ngModel" class="form-textbox" id="form-j" placeholder="Economy Class Seats" />
                        <label class="form-label" for="form-j">Economy Class Seats</label>
                        <span *ngIf="Seats_Available_Eco.errors?.required">Cannot be Blank</span>
                    </div>
            
                    <div class="col-md-3">
                        
                        <input type="number" name="Seats_Available_Business" [(ngModel)]="model.Seats_Available_Business"
                        #Seats_Available_Business="ngModel" class="form-textbox" id="form-k" placeholder="Business Class Seats" />
                        <label class="form-label" for="form-k">Business Class Seats</label>
                        <span *ngIf="Seats_Available_Business.errors?.required">Cannot be Blank</span>
                    </div> -->
                </div>
                    
                    <div >
                        <button class="buttonx btn btn-success" type="submit" [disabled]="addFlightForm.invalid">Add</button>
                    </div>
                </form>
            </div>



            </tab>
          
            <tab heading="Delete Flight">
            <div class="login-box1">
            <h2>Delete Flight</h2>
            <div class="container">
                <div class="row">
                    <!-- <div class="col-sm">
                        <form #deleteform="ngForm" name="deleteForm" (ngSubmit)="DeleteFunction(deleteform)">
                            <div>
                                <label class="center">Flight Number: </label>
                                <input type="number" name="fno" [(ngModel)]="model.fno" #fno="ngModel" class="center"required/>
                                <span *ngIf="fno.errors?.required">Flight_Number has to be entered</span>
                            </div>
                
                            <div>
                                <button  class=" btn btn-outline-danger" type="submit" [disabled]="deleteform.invalid">Delete</button>
                            </div>
                        </form>
                    </div> -->
                    <div class="col-sm" align="center">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th>Flight Number</th>
                                <th>Flight Name</th>
                                <th>Flight Date</th>
                                <th>Airport Code</th>          
                                <th>Departure Time</th>           
                                <th>Arrival time</th>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Economy Class Cost</th>
                                <th>Business Class Cost</th>
                                <th>Delete</th>               
                            </tr>
                            </thead>
                            <tr *ngFor="let item of flist"  class="table-light" data-toggle="modal" data-target="#exampleModalCenter">
                                <td>{{item.Flight_Number}}</td>
                                <td>{{item.Flight_Name}}</td>
                                <td>{{item.Flight_Date}}</td>
                                <td>{{item.Airport_Code}}</td>
                                <td>{{item.Flight_Departing_Time}}</td>
                                <td>{{item.Flight_Arrival_Time }}</td>
                                <td>{{item.Origin}}</td>
                                <td>{{item.Destination}}</td>
                                <td>{{item.Cost_Eco}}</td>
                                <td>{{item.Cost_Business}}</td>
                                <button  class=" btn btn-outline-danger" type="submit" (click)="DeleteButton(item.Flight_Number)">Delete</button>
                         
                            </tr>
                        </table>
                    </div> 

                    
                
                </div>
            </div>
             </div> 

            </tab>

                <div>
                    <button  class="button btn btn-danger" type="submit"><a href="homepage" style="color:white">Logout</a></button>
                </div>
            
        
        </tabset>
    </div>

