<div align="center">
    <div>
        <button  class="buttonx btn btn-success" type="submit" ><a href="homepage" style="color:white;">Book Now</a></button>
    </div>
    <tabset #tabset class=" nav-pills-success nav-justified">
        
        <tab heading="Booked Tickets">
            <!-- <h2>Booked Tickets</h2> -->
            <!-- <div class="ticket-details" align="center">
                <form #bookedform="ngForm" name="bookedForm" (ngSubmit)="booked(bookedform)">
                    <div>
                        <label>User ID : </label>
                        <input type="number" name="uid" [(ngModel)]="model.uid"
                        #uid="ngModel" required/>
                        <span *ngIf="uid.errors?.required">ID has to be entered</span>
                    </div>
                
                    <div>
                        <button type="submit" [disabled]="bookedform.invalid">Display</button>
                    </div>
                </form>
            </div> -->

            <table class="table table-striped table-dark">
                <tr>
                    <th>Ticket Number</th>
                    <th>Date</th>             
                    <th>Flight Number</th>  
                    <th>Airport Name</th>           
                    <th>Passenger Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Flight Time</th>
                    <th>Total Price</th>                
                </tr>
                <tr *ngFor="let item of booked">
                     <td>{{item.pnr_no}}</td>
                     <td>{{item.Flight_date}}</td>
                     <td>{{item.Flight_Number}}</td>
                     <td>{{item.Airport_Name}}</td>
                     <td>{{item.FirstName}}  {{item.LastName}}</td>
                     <td>{{item.origin}}</td>
                     <td>{{item.Destination}}</td>
                     <td>{{item.Flight_Departing_Time}}</td>
                     <td>{{item.total_price}}</td>
                     
                </tr>
            </table>


        </tab>



        <tab heading="Cancelled Tickets">
            <!-- <h2>Cancelled Tickets</h2> -->
            
            <table class="table table-striped table-dark">
                <tr>
                    <th>Ticket Number</th>
                    <th>Date</th>             
                    <th>Flight Number</th>  
                    <th>Airport Name</th>           
                    <!-- <th>Passenger Name</th> -->
                    <th>From</th>
                    <th>To</th>
                    <th>Total Price</th>  
                    <th>Refund Amount</th>
                    <th>Date of Cancellation</th>
                    <th>Time of Cancellation</th>       
                </tr>
                <tr *ngFor="let item of cancelled">
                    <td>{{item.Pnr_no}}</td>
                    <td>{{item.Flight_Date}}</td>
                    <td>{{item.Flight_Number}}</td>
                    <td>{{item.Airport_Name}}</td>
                    <!-- <td>{{item.FirstName}}  {{item.LastName}}</td> -->
                    <td>{{item.Origin}}</td>
                    <td>{{item.Destination}}</td>
                    <td>{{item.total_price}}</td>
                    <td>{{item.Refund_Amount}}</td>
                    <td>{{item.Dateofcancellation}}</td>
                    <td>{{item.timeofcancellation}}</td>
               </tr>
            </table>
        </tab>

        <tab heading="Cancel Booking">
            <div class="login-box  center">
                <!-- <h2>Cancel Tickets</h2> -->
                <form #cancelform="ngForm" name="cancelForm" (ngSubmit)="CancelFunction(cancelform)">
                    <!-- <div>
                        <label class="center">Ticket Number</label><br>
                        <input type="number" name="tno" [(ngModel)]="model.tno"
                        #tno="ngModel" class="center"required/><br>
                        <span *ngIf="tno.errors?.required">Cannot be blank</span>
                    </div> -->

                    <div>Select Ticket
                        <select class="form-control" name="tno"  [(ngModel)]="model.tno" #tno="ngModel" style="background: black; color:aliceblue">
                            <option *ngFor="let item of bookedlist" [value]="item.pnr_no">Ticket No. - {{item.pnr_no}}, Flight Date - {{item.Flight_date}}, From - {{item.origin}}, To - {{item.Destination}}</option>
                        </select>
                    </div>
                
                    <div>
                        <button  class="button btn btn-danger" type="submit" [disabled]="cancelform.invalid">Cancel</button>
                    </div>
                </form>
            </div>
            </tab>
            <div>
                <button  class="button btn btn-danger" type="submit"><a href="homepage" style="color:white">Logout</a></button>
            </div>
    </tabset>
</div>