<div align="center">
    <div>
        <button  class="buttonx btn btn-success" type="submit" ><a href="homepage" style="color:white;">Book Now</a></button>
    </div>
    <tabset #tabset class=" nav-pills-success nav-justified">
        
        <tab heading="Booked Tickets">
            <!-- <h2>Booked Tickets</h2> -->
            <!-- <div class="ticket-details" align="center">
                <form #bookedform="ngForm" name="bookedForm" (ngSubmit)="booked(bookedform)">
                    <div>
                        <label>User ID : </label>
                        <input type="number" name="uid" [(ngModel)]="model.uid"
                        #uid="ngModel" required/>
                        <span *ngIf="uid.errors?.required">ID has to be entered</span>
                    </div>
                
                    <div>
                        <button type="submit" [disabled]="bookedform.invalid">Display</button>
                    </div>
                </form>
            </div> -->

            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Ticket Number</th>
                    <th>Date</th>
                    <th>Departure Time</th>             
                    <th>Flight Number</th>  
                    <th>Airport Name</th>           
                    <!-- <th>Passenger Name</th> -->
                    <th>From</th>
                    <th>To</th>
                    <th>Seat Numbers</th>
                    
                    <th>Total Price</th>                
                </tr>
                </thead>
                <tr *ngFor="let item of booked"  class="table-light" (click)="PsgDetailsFunction(item.pnr_no)" data-toggle="modal" data-target="#PsgDetails ">
                     <td>{{item.pnr_no}}</td>
                     <td>{{item.Flight_date}}</td>
                     <td>{{item.Flight_Departing_Time}}</td>
                     <td>{{item.Flight_Number}}</td>
                     <td>{{item.Airport_Name}}</td>
                     <!-- <td>{{item.FirstName}}  {{item.LastName}}</td> -->
                     <td>{{item.origin}}</td>
                     <td>{{item.Destination}}</td>
                     <td>{{item.Seats}}</td>
                     <td>{{item.total_price}}</td>
                     
                </tr>
            </table>
              
              <!-- Modal -->
              <div class="modal fade" id="PsgDetails" tabindex="-1" role="dialog" aria-labelledby="PsgDetailsTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Passenger Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <table class="table">
                        <tr>
                        <th>Pnr No.</th>
                        <th>Passport Number</th>
                        <th>Passenger Name</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Phone Number</th>
                        <th>Covid Certificate</th>
                      </tr>
                      <tr *ngFor="let item of bookedPsg"  class="table-light">
                          <td>{{item.Pnr_no}}</td>
                          <td>{{item.PassportNumber}}</td>
                          <td>{{item.FirstName}} {{item.LastName}}</td>
                          <td>{{item.DOB}}</td>
                          <td>{{item.Gender}}</td>
                          <td>{{item.PhoneNumber}}</td>
                          <td>{{item.CovidCertificate}}</td>
                      </tr>
                    </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                  </div>
                </div>
              </div>




        </tab>



        <tab heading="Cancelled Tickets">
            <!-- <h2>Cancelled Tickets</h2> -->
            
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Ticket Number</th>
                    <th>Date</th>             
                    <th>Flight Number</th>  
                    <th>Airport Name</th>           
                    <!-- <th>Passenger Name</th> -->
                    <th>From</th>
                    <th>To</th>
                    <th>Total Price</th>  
                    <th>Refund Amount</th>
                    <th>Date of Cancellation</th>
                    <th>Time of Cancellation</th>       
                </tr>
                </thead>
                <tr *ngFor="let item of cancelled" class="table-light">
                    <td>{{item.Pnr_no}}</td>
                    <td>{{item.Flight_Date}}</td>
                    <td>{{item.Flight_Number}}</td>
                    <td>{{item.Airport_Name}}</td>
                    <!-- <td>{{item.FirstName}}  {{item.LastName}}</td> -->
                    <td>{{item.Origin}}</td>
                    <td>{{item.Destination}}</td>
                    <td>{{item.total_price}}</td>
                    <td>{{item.Refund_Amount}}</td>
                    <td>{{item.Dateofcancellation}}</td>
                    <td>{{item.timeofcancellation}}</td>
               </tr>
            </table>
        </tab>

        <tab heading="Cancel Booking">
            <div class="login-box  center">
                <!-- <h2>Cancel Tickets</h2> -->
                <form #cancelform="ngForm" name="cancelForm" (ngSubmit)="CancelFunction(cancelform)">
                    <!-- <div>
                        <label class="center">Ticket Number</label><br>
                        <input type="number" name="tno" [(ngModel)]="model.tno"
                        #tno="ngModel" class="center"required/><br>
                        <span *ngIf="tno.errors?.required">Cannot be blank</span>
                    </div> -->

                    <div><h4><b>Select Ticket</b></h4>
                        <select class="form-control" name="tno"  [(ngModel)]="model.tno" #tno="ngModel" style="background: rgb(165, 165, 165); color:aliceblue">
                            <option *ngFor="let item of bookedlist" [value]="item.pnr_no">Ticket No. - {{item.pnr_no}}, Flight Date - {{item.Flight_date}}, From - {{item.origin}}, To - {{item.Destination}}</option>
                        </select>
                    </div>
                
                    <div>
                        <button  class="button btn btn-danger" type="submit" [disabled]="cancelform.invalid">Cancel</button>
                    </div>
                </form>
            </div>
            <br><br>
            </tab>
            
    </tabset>
</div>