.center {
    text-align: center;
    justify-content: center;
}

div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 50px;
}

.payment-details {
    position: relative;
    margin: 5% 30%;
    width: auto;
    height: Auto;
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.buttonx {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 60%;
}

label {
    float: left;
    font-size: 16px;
    font-weight: bolder;
}

form {
    width: 450px;
    padding: 6px;
    margin: 0 auto;
    /*Center align form*/
}

.form-label {
    position: absolute;
    top: 17px;
    left: 30px;
    background-color: white;
    color: #999;
    cursor: text;
    transition: all .15s ease-in-out 0s;
}

.form-textbox:focus~.form-label,
.form-textbox:valid~.form-label {
    top: -1.5em;
    left: 0;
    font-size: .8em;
    color: inherit;
    cursor: pointer;
}