body{
  background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.logo {
  height: 50px;
  width: 60px;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #030f27;
}

a {
  color: black;
  transition: .3s;
  font-weight: bold;
  font-size: large;
}
a:hover,
a:active,
a:focus {
    color:  black;
    outline: none;
    text-decoration: none;
}

.nav-section {
  background: #166a84;
}

.navbar{
  position: fixed;
  top: 0;
  height:55px ;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  z-index: 999;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color:black;
    transition: none;
}


.form-control-new {
  border-radius: 0px;
  position: relative;
}

  .form-control-new:before {
    content: "/f0e0";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    top: 0px;
  }

.newsletter {
  color: #fff;
}

.subscribe {
  width: 100%;
  border-radius: 0px;
  background: #24829f;
  border: 1px solid #6ac5e1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.quick-link-list {
  list-style-type: none;
  padding: 0px;
}

  .quick-link-list li a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
  }

  .quick-link-list li a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
  }

  .quick-link-list a:hover {
    color: #fdbe33;
    letter-spacing: 1px;
}


  .title-transparent {
    opacity: 0 !important;
  }

  footer-section-bottom {
    background: #1d7590;
    padding: 30px 0px;
  }

  .footer-title span::before {
    content: "";
    position: absolute;

    right: 0px;
    bottom: 0px;
    width: 117px;
    height: 2px;
    background-color: #f7bb07;
}

.footer h3 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #fdbe33;
}

.footer h3::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #fdbe33;
}

.footer-section {
  background: #166a84;
  padding-bottom: 40px;

}

.footer-section-row {
  background: #1d7590;
  padding: 18px 400px 18px 18px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, .5);
}

.address {
  padding: 10px;
  display: flex;
}



/* .right-text {
  padding-left: 28px;
}

  .right-text h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
  }

  .right-text p {
    margin: 0px;
    color: #fff;
    font-size: 15px;
    line-height: 23px;
  }

.footer-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f7bb07;
  font-size: 20px;
  margin-bottom: 23px;
  font-weight: 700;
  position: relative;
} */
/*  */

/* .footer-title-text {
  background: #166a84;
  z-index: 999;
  position: relative;
}

.footer-title-underline {
  height: 1px;
  background-color: #f7bb07;
  width: 100%;
  position: absolute;
  bottom: 3px;
  left: 0px;
  } */



  /* .
.footer-bottom-left p {
  margin: 0px;
  color: #fff;
}

.footer-bottom-right p {
  margin: 0px;
  color: #fff;
  text-align: right;
}

.footer-bottom-right p a {
  color: #dcd735;
} */