<nav class="navbar navbar-expand-sm nav-section navbar-dark ">
    <a class="navbar-brand" href="#"><img src="../assets/logo.jpeg" style="float: left; padding-left: 10px; height: 40px" />
    </a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="homepage">Home </a>

        </li>

    </ul>





    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="registration">SignUp</a>
        </li>
        <li class="nav-item dropdown active">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Login</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="UserLogin" class="dropdown-item">User Login</a>
                <a href="AdminLogin" class="dropdown-item">Admin Login</a>
                <!-- <div class="dropdown-divider"></div>
        <a href="#"class="dropdown-item">Logout</a> -->
            </div>
        </li>
    </ul>
</nav>

<body>



    <ol>
        <!-- <li><a routerLink="AdminLogin">Admin Login</a></li>-->
        <!--<li><a routerLink="UserLogin">User Login</a></li>-->
        <!-- <li><a routerLink="EditFlight">Edit Flight</a></li> -->
        <!-- <li><a routerLink="homepage">Search</a></li>-->
        <!--<li><a routerLink="registration">Registration</a></li>-->
        <li><a routerLink="About">About</a></li>
        <li><a routerLink="FAQ">FAQ</a></li>
        <li><a routerLink="FlightSelect">Flight Select</a></li>
        <li><a routerLink="Passenger_Details">Passenger Details</a></li>
        <li><a routerLink="PaymentForm">Payment</a></li>
        <li><a routerLink="SeatSelect">Seat select</a></li>
        <li><a routerLink="Booking">Booking</a></li>
        <!-- <li><a routerLink="TicketDetails">TicketDetails</a></li> -->
    </ol>

    <router-outlet></router-outlet>




    <section class="footer-section">
        <div class="container">
            <div class="row footer-section-row">
                <div class="col-md-4">
                    <div class="address">

                        <div class="right-text">
                            <h3>Address</h3>
                            <p>Happy Trip</p>
                            <p>Madanpur-Rampur,Jaya nagar, Bangalore -766102</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="address">


                        <div class="right-text">
                            <h3>Mail Id</h3>
                            <p>happytrip@yahoo.co.in</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="address">


                        <div class="right-text">
                            <h3>Phone</h3>
                            <p>+91 9437040140, </p>
                            <p>+91 7873708010</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3 class="footer-title"><span class="footer-title-text">Quick Link</span><span class="footer-title-underline"></span></h3>
                    <ul class="quick-link-list">
                        <li><a href="https://en.wikipedia.org/wiki/Statue_of_Unity"> Statue of Unity</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Lal_Bagh"> LalBagh</a></li>
                        <li><a href="https://chennai.nic.in/tourist-place/marina/"> Marina Beach</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Swami_Vivekananda"> Swami Vivekananda</a></li>
                        <li><a href="https://www.britannica.com/topic/India-Gate"> India Gate</a></li>
                        <li><a href="https://www.sai.org.in/"> ShiriDi Sai Baba </a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="footer-title title-transparent">Quick Link</h3>
                    <ul class="quick-link-list">
                        <li><a href="https://www.fabhotels.com/blog/places-to-visit-in-chennai/"> Chennai tourist places</a></li>
                        <li><a href="https://www.thrillophilia.com/destinations/bangalore/places-to-visit"> Popular places at Bangalore</a></li>
                        <li><a href="https://www.thrillophilia.com/places-to-visit-in-mumbai">Top most views in Mumbai </a></li>
                        <li><a href="https://www.thrillophilia.com/places-to-visit-in-delhi">Capital city of India</a></li>
                        <li><a href="https://www.hyderabadtourism.travel/places-to-visit-in-hyderabad"> Hydrabad city</a></li>


                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="footer-title title-transparent">Quick Link</h3>
                    <ul class="quick-link-list">
                        <li><a href=""> Donation</a></li>
                        <li><a href=""> Future Plan</a></li>
                        <li><a href=""> Feedback</a></li>

                        <li><a href=""> Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="footer-title"><span class="footer-title-text">Get Updates</span><span class="footer-title-underline"></span></h3>
                    <p class="newsletter">Signup to Our Newsletter.</p>




                </div>
            </div>
        </div>
    </section>
    <section class="footer-section-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-bottom-left">
                    <p>@ All Rights Reserved Happy Trip</p>
                </div>
                <div class="col-md-6 footer-bottom-right">
                    <p>Developed by <a href="#">HappyTrip.pvt.Ltd.</a></p>
                </div>
            </div>
        </div>
    </section>