<form class="form-group" #register="ngForm" name="registerForm" (ngSubmit)="Register(register)">
  <div id="login-box">
    <div align="center">
      <br>
      <h1>Sign up</h1>
      <!-- <select class="title" name="title">
        <option value="">Title</option>
        <option value="mr">Mr</option>
        <option value="mrs">Mrs</option>
      </select> -->

      <input type="text" name="fname" placeholder="FirstName" [(ngModel)]="model.fname" #fname="ngModel" required/>
     
      <input type="text" name="lname" placeholder="LastName" [(ngModel)]="model.lname" #lname="ngModel" required />
      <input type="text" name="email" placeholder="E-mail" [(ngModel)]="model.email" #email="ngModel" required />
      <input type="password" name="pwd" placeholder="Password" [(ngModel)]="model.pwd" #pwd="ngModel" required />
      <input type="date" name="dob" placeholder="date of birth" [(ngModel)]="model.dob" #dob="ngModel" required />
      <input type="number" name="pno" placeholder="Enter Mobile number"  [(ngModel)]="model.pno" #pno="ngModel" required/>

      <button type="submit" [disabled]="register.invalid " >Sign Up </button>
    </div>

    <!--
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>

      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
    -->
  </div>
  </form>
