<form class="form-group" #registerForm="ngForm" name="registerForm" (ngSubmit)="Register(registerForm)">
  <div id="login-box">
    <div align="center">
      <br>
      <h1><b>Sign up</b></h1>
      <select class="title" type="text" name="title" [(ngModel)]="model.title" #title="ngModel" placeholder = "Title" required>
        <!--<option value="">Title</option>-->
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
      </select>

            <input type="text" name="fname" [(ngModel)]="model.fname" #fname="ngModel" placeholder="FirstName" required />
            <span *ngIf="fname.errors?.required"></span>

            <input type="text" name="lname" [(ngModel)]="model.lname" #lname="ngModel" placeholder="LastName"  required />
            <span *ngIf="lname.errors?.required"></span>

            <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="E-mail"  required />
            <span *ngIf="email.errors?.required"></span>

            <input type="password" name="pwd" [(ngModel)]="model.pwd" #pwd="ngModel" minlength="4" maxlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@$!%?&])[A-Za-z0-9@$!%?&]{4,8}$" placeholder="Password"  required />
            <span *ngIf="pwd.errors?.required"></span>

            <input type="date" name="dob" [(ngModel)]="model.dob" #dob="ngModel" placeholder="date of birth"  required />
            <span *ngIf="dob.errors?.required"></span>

            <input type="number" name="pno" [(ngModel)]="model.pno" #pno="ngModel" pattern="^[0-9]{10}$" placeholder="Enter Mobile number"  required />
            <span *ngIf="pno.errors?.required"></span>


      <!--div tag for captcha-->
      <div align = "center">
        <ngx-recaptcha2 #captchaElement [siteKey]="siteKey" name="cap" [(ngModel)]="model.cap" #cap="ngModel" required>
          <span *ngIf= "cap.errors?.required"></span>
        </ngx-recaptcha2>
      </div>
      
      <br>
      <button type="submit" class="buttonx  btn btn-success" [disabled]="registerForm.invalid">Sign Up </button><br />
      
      <br>
     <p> Already have an account?<a href="UserLogin">   Login   </a></p>
    </div>
    <br>
    <br>

        <!--
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>

      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
    -->
    </div>
</form>

<!--javascript for validation*/-->