.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTB10 {
    margin: 10px 0px;
}

.wordWrap {
    word-break: break-all;
}


.innerContainer {
    color: black;
    text-align: center;
}

.seat {
    padding-right: 5px;
}

.fontSize {
    font-size: 14px;
}

.fontSize>.padding-left {
    padding-left: 15px;
}

.reservedSeat {
    color: #ce4844;
}

.selectedSeat {
    color: #5cb85c;
}

.freeSeat {
    color: rgb(14, 0, 65);
}
.container {
  background-color: white;
  width: 400px;
  margin-bottom: 50px;
  box-shadow: 0px 3px 6px rgb(175, 8, 226);
}
