<!-- Template for the seat component -->
<br>
<br><br>
<div class="container">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div>
    <main class="innerContainer">
      <br>
      <br>
      <h3 style="color:red">Select {{aci}} seats</h3>
      <br>
      <br>
      <div class="fontSize">
        <span class="material-icons freeSeat">chair</span> Available
        <span class="material-icons selectedSeat">living</span>Selected
        <span class="material-icons reservedSeat">block</span> Reserved
      </div>

      <!------------Generate rows of seats  Based on switch case seats will appear Reserved/Available/Selected------------------>
      <div *ngFor="let row of rows">
        <hr>
        <span class="seat" *ngFor="let col of cols" (click)="seatClicked(row + col)" [ngSwitch]="getStatus(row + col)">
          <span *ngSwitchCase="'selected'" class="material-icons selectedSeat">living</span>
          <span *ngSwitchCase="'reserved'" class="material-icons reservedSeat">block</span>
          <span *ngSwitchDefault class="material-icons freeSeat">chair</span>
        </span>
      </div>

      <!-----------------When Seat is selected This area will be visible-------------->
      <div *ngIf="selected.length > 0" class="font14 marginTB10">
          <div class="wordWrap">Selected Seats : {{selected.length}} <span *ngFor="let select of selected"> ({{select}}),</span></div>
          <div>Seat Price : {{ticketPrice}} * {{selected.length}} = {{currency}}.{{ticketPrice*selected.length}} </div>
          <div>Convenience Fee : {{currency}}. {{convFee*selected.length}}</div>
          <div>TOTAL : {{currency}}. {{ticketPrice * selected.length + convFee}}</div>
      </div>
      <br>
      <br>

 
      <div class="buttonBar marginTop5">
          <button (click)="clearSelected()" [disabled]="selected.length === 0" class="btn btn-outline-danger btn-lg">Clear</button>&nbsp;&nbsp;
          <button (click)="showSelected()" [disabled]="selected.length === 0" class="btn btn-outline-success btn-lg">Select</button>
      </div>
      <br>   
      <br>     
  </main>     
</div>
